@import '../../typography/src/typography.scss';

:root {
  --tdp-color-primary: #d391ff;
  --tdp-color-secondary: #e6d5f3;
  --tdp-color-foreground: #222;
  --tdp-color-background: #f2f2f2;
}
