:root {
  --tdp-text-font-family-body: 'Segoe UI';
  --tdp-text-font-family-heading: 'Segoe UI Semibold';
  --tdp-text-font-family-black: 'Segoe UI Black';

  --tdp-text-size-small: 18px;
  --tdp-text-size-normal: 20px;
  --tdp-text-size-big: 24px;
  --tdp-text-size-huge: 36px;

  --tdp-text-weight-normal: normal;
  --tdp-text-weight-bold: bold;
}
